
body
{
	margin: 0px;
	padding: 0px;
}

h1 {
    
}

h2 {
    
}

p {

}

@media screen and (max-width: 1024px) 
@media screen and (max-width: 768px) 
@media screen and (max-width: 600px) 
@media screen and (max-width: 480px) 
@media screen and (max-width: 320px) 
